<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sms.mapper.OrderDetailMapper">
    <resultMap id="orderDetailResultMap" type="orderDetail">
        <id property="id" column="orderId" javaType="Integer"/>
        <result property="payMoney" column="payment_amount" javaType="Double"/>
        <result property="payDate" column="payment_date" javaType="Date"/>
        <result property="status" column="payment_status" javaType="Integer"/>
        <result property="createDate" column="order_creation_time" javaType="Date"/>
        <result property="remark" column="remark" javaType="String"/>
        <result property="amount" column="number" javaType="Integer"/>
        <result property="price" column="price" javaType="Double"/>
    </resultMap>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">

    </insert>
    <update id="update" useGeneratedKeys="true" keyProperty="id">

    </update>
    <delete id="del">

    </delete>
    <select id="selectById" resultMap="orderDetailResultMap">

    </select>
</mapper>