<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sms.mapper.OrderMapper">
    <resultMap id="orderResultMap" type="order">
        <id property="id" column="id" />
        <result property="orderNO" column="order_number" javaType="String"/>
        <result property="productName" column="goods_name" javaType="String"/>
        <association property="user" column="user_id" select="sms.mapper.UserMapper.selectById"/>
        <association property="product" column="goods" select="sms.mapper.ProductMapper.selectById"/>
        <association property="supplier" column="supplier_id" select="sms.mapper.SupplierMapper.selectById"/>
        <association property="orderDetail" column="id" select="sms.mapper.OrderDetailMapper.selectById"/>
    </resultMap>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">

    </insert>
    <update id="update" useGeneratedKeys="true" keyProperty="id">

    </update>
    <delete id="del">

    </delete>

    <select id="selectAll" resultMap="orderResultMap">

    </select>
    <select id="selectByUser" resultMap="orderResultMap">

    </select>
    <select id="selectByProduct" resultMap="orderResultMap">

    </select>
    <select id="selectById" resultMap="orderResultMap">

    </select>
    <select id="selectBySupplier" resultMap="orderResultMap">

    </select>
    <select id="selectByOrder" resultMap="orderResultMap">

    </select>
</mapper>