.left-table {
    -webkit-flex: none;
    flex: none;
    width: 150px;
    margin: 12px 10px 0 0;
}
.right-table {
    -webkit-flex: 1;
    flex: 1;
    flex-grow: 4;
    margin:12px 0;
    line-height: 40px;
    background-color: #f5fffa;
}
/*设置表格可横向滚动*/
.div_right {
    /*border:1px solid #1d1d1d;*/
    overflow-x: scroll;
    width:87%;
    min-width: 50px;
    /*overflow-x: scroll;*/
}
.right-table, .right-table>thead tr, .right-table>thead th, .right-table>tbody tr, .right-table>tbody td{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    word-wrap:break-word;
    font-size: 16px;
    font-family: "黑体";
    font-weight: lighter;
    color: black;
}
td{
    overflow: hidden;
}
.sale-price, .sale-amount {
    background-color:transparent;
    font-size: 20px;
    border: none;
}
/*设置表格列宽*/
.right-table th, .right-table td {
    max-width: 150px;
    min-width: 150px;
}
