* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.a, .a ~ div{
    border: 5px solid cyan;
    display:none;
}
.a{
    background-color: cyan;
    max-width: 600px;
    margin: 0 auto;
}