<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>product</title>
    <link rel="stylesheet" th:href="@{/static/css/product.css}">
    <link rel="stylesheet" th:href="@{/static/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/button.css}">
    <link rel="stylesheet" th:href="@{/static/css/popWindow.css}">
    <script th:src="@{/static/js/vue.js}"></script>
    <script th:src="@{/static/js/axios.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
    <script th:src="@{/static/js/product.js}" ></script>
</head>
<body>
    <div class="header">
        <div class="w1" id="w1">
            <div class="header-left">
                <h1 class="noWarp">商品管理</h1>
            </div>
            <div class="header-right">
                <div class="search-container">
                    <form action="" class="parent">
                        <input type="text" class="search" placeholder="搜索">
                        <input type="button" name="search" id="" class="btn">
                    </form>
                </div>
                <div class="add-btn" id="add-btn">
<!--                    <input type="button" id="addBtn" name="p-add" value="添加商品" onclick="location.href=('addProduct.html')">-->
                    <!-- 打开弹窗按钮 -->
                    <button id="addBtn" >添加商品</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <!-- 弹窗内容 -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <object id="dataTable" th:data="@{/page.do(operate='page', page='product/addProduct')}"></object>
        </div>
    </div>
    <div class="list" id="product_div">
        <div class="w2" id="w2">
            <table class="left-table">
                <thead>
                    <tr>
                        <th class="noWarp">商品类型目录</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>商品类型</td>
                    </tr>
                </tbody>
            </table>
            <div class="div_right">
            <table class="right-table">
                <thead class="right-table-header">
                    <tr>
                        <th class="noWarp">商品名称</th>
                        <th class="noWarp">商品类型</th>
                        <th class="noWarp">库存数量</th>
                        <th class="noWarp">单价</th>
                        <th class="noWarp">已出售数量</th>
                        <th class="noWarp">商品支出</th>
<!--                        <th>商品收入</th>-->
                        <th class="noWarp">操作1</th>
                        <th class="noWarp">操作2</th>
                    </tr>
                </thead>
                <tbody class="right-table-body">
                    <tr v-for="product in products" >
                        <td>{{product.name}}</td>
                        <td>{{product.type}}</td>
                        <td>{{product.stock.stockAmount}}</td>
                        <td>
                            <input class="sale-price" type="text"
                                   :value="product.stock.salePrice"
                                   v-on:blur="editPrice(product.id)"/>
                        </td>
<!--                        商品支出（所有关联订单中金额总和）-->
                        <td>
                            <input class="sale-amount" type="text"
                                   :value="product.stock.saleAmount"
                                   v-on:blur="editAmount(product.id)"/>
                        </td>
                        <td>{{product.stock.xj}}</td>
                        <td class="noWarp" v-if="product.delete == 0"><a href="" v-on:click="productToBin(product.id)">删除</a></td>
                        <td class="noWarp" v-else="product.delete == 0"><a href="" v-on:click="deleteProduct(product.id)">删除</a></td>
                        <td class="noWarp" v-if="product.delete == 0"><a href="" v-on:click="editTheProduct(product.id)">编辑</a></td>
                        <td class="noWarp" v-else="product.delete == 0"><a href="" v-on:click="recoverTheProduct(product.id)">恢复</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/static/js/button.js}"></script>
</html>